<h2>Here are our admin users</h2>
<div class="container">
  <table class="table table-dark" id="adminTable">
    <thead>
      <tr id="customTr">
        <th scope="col">AdminID</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Created Date</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" id="custRow">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>